@import '../../assets/colors.scss';

.contact {
    // background: red;
    width: 400px;
    display: flex;
    flex-direction: column;

    .contact-card {
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        border: 1px solid $color-blue;
        padding: 10px 10px;
        border-radius: 5px 5px 0 0;

        .contact-info {
            display: flex;
            flex-direction: column;
            .contact-name {
                color: $color-orange;
                font-size: 2em;
            }
            .contact-number {
                color: $color-green;
            }
        }
    }

    .open-details {
        .icon {
            color: $color-red;
            font-weight: bold;
            cursor: pointer;
        }
    }
}
