@import '../../assets/colors.scss';

.contact {
    // background: red;
    width: 400px;
    display: flex;
    flex-direction: column;

    .contact-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: 1px solid $color-blue;
        padding: 10px 10px;
        border-radius: 5px 5px 0 0;
        cursor: pointer;

        .contact-info {
            .contact-name {
                color: $color-orange;
                font-size: 2em;
            }
            .contact-number {
                color: $color-green;
            }
        }
    }
}
