<div class="app">
  <div class="sidebar">
    <!-- icon to close sidemeu when interactive -->
    <!-- <div class="sidebar-item item-right sidebar-header"><i class="fas fa-times"></i></div> -->
    <div class="sidebar-item item-right sidebar-header">
      <div class="header-text">Tasks</div>
    </div>

    <div class="sidebar-item item-left">
        <i class="fas fa-home"></i>
        <div class="sidebar-item-text">Home</div>
    </div>

    <div class="sidebar-item item-left">
      <i class="fas fa-plus"></i>
      <div class="sidebar-item-text">New task</div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>