// STYLESHEET FOR APP

// imports colors stylesheet
@import './assets/style/colors.scss';
* {
	margin: 0;
	padding: 0;
}

.app {
	width: 100%;
	height: 100vh;
	// background: $color-site-background;
	display: flex;
	justify-content: center;
	background: url('./assets/images/bible_wallpaper_2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	@media only screen and (max-width: 1000px) {
		background: $color-site-background;
	}
}