// STYLESHEET FOR TOPBAR

// IMPORTS COLORS
@import '../../assets/style/colors.scss';

.topbar {
  // background: $color-topbar;
  // box-shadow: 0 2px 1px 1px $color-black;
  font-family: 'Roboto', sans-serif;
  opacity: 1;
  width: 95%;
  height: 70px;
  position: absolute;
  top: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .group-mobile {
    display: none;
  }

  .group {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    $default-size: 1em;

    %item {
      color: $color-site-light; 
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:active {
      position: relative;
      top: 3px;
    }

    .main-text {
      @extend %item;
      font-size: $default-size * 2;

      &:hover {
        font-size: $default-size * 2.5;
        font-weight: bold;
      }
    }

    .normal-text {
      @extend %item;
      font-size: $default-size;

      &:hover {
        font-size: $default-size * 1.5;
        font-weight: bold;
      }
    }
  }

  // MOBILE VIEW
  @media only screen and (max-width: 1000px) {
    height: 8vh;
    width: 100%;
    border-radius: 0;
    top: 0;

    .group {
      display: none;
    }

    .group-mobile {
      width: 100%;
      color: $color-topbar;
      font-size: 5em;
      display: flex;
      justify-content: center;
      align-items: center;

      .inline-group {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item-mobile {
          display: flex;
          align-items: center;

          .header-icon {
            background: $color-topbar;
            height: 5vh;
            width: 5vh;
            border-radius: 50%;
            margin-right: 15px;
          }

          .header-title {
            font-size: .3em;
          }
        }
      }
    }
  }
}
