.major {
  p{
    margin: 10px 0;
    border: 1px dotted #000000;
    font-family: 'Tangerine', cursive;
    line-height: 40px;
    white-space: pre-line;
  }
  .out {
    font-size: 40px;
    text-shadow: 2px 2px 2px #aaaaaa;
  }
}
