.major {
  p {
    font-size: 40px;
    font-family: 'Tangerine', cursive;
    line-height: 40px;
    text-shadow: 2px 2px 2px #aaaaaa;
    white-space: pre-line;
    border: 1px dotted #000000;
    margin: 10px 0;
  }
}
