// STYLESHEET FOR JUMBOTRON

// IMPORTS COLORS
@import '../../assets/style/colors.scss';

.title {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title-text {
    color: $color-light;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
}
