<div class="register">
    <table>
        <tr class="input-group">
            <td class="put-start"><label>Name</label></td>
            <td class="blank-space"></td>
            <td class="put-end"><input [(ngModel)]="contact.name" placeholder="contact name..." /></td>
        </tr>
        <tr class="input-group">
            <td class="put-start"><label>Number</label></td>
            <td class="blank-space"></td>
            <td class="put-end"><input [(ngModel)]="contact.number" placeholder="contact number..." /></td>
        </tr>
        <tr class="input-group">
            <td class="put-start"><label>Address</label></td>
            <td class="blank-space"></td>
            <td class="put-end"><input [(ngModel)]="contact.address" placeholder="contact address..." /></td>
        </tr>
    </table>
    <button class="submit-btn">Save</button>
</div>
