<div class="register">
    <!-- <div class="input-group">
        <label>Name:</label>
        <input [(ngModel)]="contact.name" placeholder="contact name..." />
    </div>

    <div class="input-group">
        <label>Number:</label>
        <input [(ngModel)]="contact.number" placeholder="contact number..." />
    </div>

    <div class="input-group">
        <label>Address:</label>
        <input [(ngModel)]="contact.address" placeholder="contact address..." />
    </div> -->
    <table>
        <tr class="input-group">
            <td class="put-start"><label>Name</label></td>
            <td class="blank-space"></td>
            <td class="put-end"><input [(ngModel)]="contact.name" placeholder="contact name..." /></td>
        </tr>
        <tr class="input-group">
            <td class="put-start"><label>Number</label></td>
            <td class="blank-space"></td>
            <td class="put-end"><input [(ngModel)]="contact.number" placeholder="contact number..." /></td>
        </tr>
        <tr class="input-group">
            <td class="put-start"><label>Address</label></td>
            <td class="blank-space"></td>
            <td class="put-end"><input [(ngModel)]="contact.address" placeholder="contact address..." /></td>
        </tr>
    </table>
</div>
