<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Guest List</title>
  <script src="https://unpkg.com/vue@2.3.4"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="app.css">
</head>
<body>

  <div id="top">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Guest List</h1>
        <h5>{{ actualDate }}</h5>
      </div>
    </div>
    <div class="container">
      <hr />
      <ul class="nav">
        <div v-for="link in links" :key="link.id">
          <li class="nav-item"><a class="nav-link" :href="link.url">{{ link.name }}</a></li>
        </div>
        <input type="button" class="btn btn-success" value="Change Title" @click="changeTitle"/>
      </ul>
      <hr />
    </div>
  </div>

  <div id="list">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header" :class="submittedClass">
              <ul class="nav justify-content-end">
                {{ actualDate }}
                <!-- Botao para confirmar alteracao na data -->
                <li v-if="confirmDay === false
                 || confirmMonth === false
                 || confirmYear === false"><span class="mr-4 btn btn-primary" style="fontSize: 20px" @click="confirmDate">OK</span></li>

                <!-- Apresentacao do Dia -->
                <li v-if="confirmDay === true" class="nav-item mr-2" :style="navItem" @click="changeDay">{{ dd }}</li>
                <li v-else class="nav-item mr-2" :style="navItem"><input style="width: 55px" type="number" v-model="day"/></li>

                <!-- Apresentacao do Mes -->
                <li v-if="confirmMonth === true" class="nav-item mr-2" :style="navItem" @click="changeMonth">{{ mm }}</li>
                <li v-else class="nav-item mr-2" :style="navItem"><input style="width: 55px" type="number" v-model="mon"/></li>

                <!-- Apresentacao do Ano -->
                <li v-if="confirmYear === true" class="nav-item mr-2" :style="navItem" @click="changeYear">{{ yy }}</li>
                <li v-else class="nav-item mr-2" :style="navItem"><input style="width: 80px" type="number" v-model="yea"/></li>
              </ul>
              <hr />
              <!-- Adicionar titulo do evento. -->
              <div class="card-title">
                  <div v-if="confirmTitle === false">
                      <form class="form-inline" @submit.prevent="submitTitle">
                          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Event Title" v-model="eventTitle" />
                          <input type="submit" class="btn btn-primary" :style="buttonStyle" value="OK" />
                      </form>
                  </div>
                  <div v-else>
                      <h3 @click="confirmTitle = false">{{ title[0].toUpperCase() + title.slice(1) }}</h3>
                  </div>
              </div>
            </div>
            <div class="card-block">
              <!-- <h4 class="card-title" v-text="actualEvent.eventTitle">{{ backupEventTitle }}</h4><hr> -->

              <!-- Adicionar descricao do evento. -->
              <div v-if="confirmDescription === false">
                  <form class="form-inline" @submit.prevent="submitDescription">
                      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Event Description" v-model="eventDsc" />
                      <input type="submit" class="btn btn-primary" :style="buttonStyle" value="OK" />
                  </form>
              </div>
              <div v-else>
                  <h5 @click="confirmDescription = false">{{ description[0].toUpperCase() + description.slice(1)}}</h5>
              </div>

              <br />

              <!-- Definir quantidade maxima de convidados. -->
              <div v-if="confirmCapacity === false">
                  <form class="form-inline">
                      <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Total Guests" v-model="eventCapacity" />
                      <input @click="submitCapacity" class="btn btn-primary" :style="buttonStyle" value="OK" />
                  </form>
              </div>
              <div v-else>
                  <p>Maximum of guests allowed: <h2 @click="confirmCapacity = false">{{ eventCapacity }}</h2></p>
              </div>

              <br />

              <p class="card-text">Add your name to the guest list for exclusive offers:</p>

              <form class="form-inline" @submit.prevent="submitForm">
                <input type="text" id="nameInput" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Guest Name" v-model="name">
                <input type="submit" class="btn btn-primary" value="Add" :style="buttonStyle"></input>
                <p class="card-text" :style="guestNamePreview"> {{ name }} </p>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Lista de inscritos no evento -->
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header" :class="submittedClass">
              <div v-if="(invitedList.length == 0) || (eventCapacity == 0)">Invited ({{ getLength(invitedList) }})</div>
              <div v-else>
                  <!-- {{ ( getLength( invitedList ) / eventCapacity ) * 100 }} -->
                  <p>Invited ({{ getLength(invitedList) }}/{{ eventCapacity }})</p>
                  <progress :style="{ width: (( getLength( invitedList ) / eventCapacity ) * 100) + '%' }"></progress>
              </div>
            </div>
            <div class="card-block">
              <div>
                <div v-if="invitedList.length === 0"><h4>No names added yet...</h4></div>
                <div v-else :class="guestButton" v-for="(guest, index) in sortInvitedList" :key="guest">
                    <span @click="moveToAttendence( guest )">{{ index + 1 }}. {{ guest }}</span> <span @click="moveToTrash(guest, 0)">X</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Lista dos que chegaram no evento -->
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header" :class="submittedClass">
              <div v-if="(attendingList.length == 0) || (eventCapacity == 0)">Attending ({{ getLength(attendingList) }})</div>
              <div v-else>
                  <p>Attending ({{ getLength(attendingList) }}/{{ eventCapacity }})</p>
                  <progress :style="{ width: (( getLength( attendingList ) / eventCapacity ) * 100) + '%' }"></progress>
              </div>
            </div>
            <div class="card-block">
              <div>
                <div v-if="attendingList.length === 0"><h4>No names added yet...</h4></div>
                <div v-else :class="guestButton" v-for="(guest, index) in attendingList" :key="guest">
                    <span @click="moveToAttendence( guest )">{{ index + 1 }}. {{ guest }}</span> <span @click="moveToTrash(guest, 1)">X</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Lista de pessoas para serem excluidas -->
        <div class="col-sm-3 offset-md-1">
          <div class="card">
            <div class="card-header" :class="submittedClass">Trash</div>
            <div class="card-block">
              <div>
                <h4 v-if="trashList.length === 0">...</h4>
                <div v-else :class="guestButton" @click="deleteGuest" v-for="guest in trashList" :key="guest">
                    {{ guest }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="app.js"></script>
</body>
</html>
